<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="sidenav">
  <h3>ADMIN</h3>
  <a href="#All Users" routerLink="/users">All Users</a>
  <a href="#All Products" routerLink="/viewtable">All Products</a>
  <a href="#Add Product" routerLink="/addproduct">Add Products</a>
  <a href="#All Orders" routerLink="/orders">All Orders</a>
  <!-- <a href="#clients" routerLink="/orders">Orders</a> -->
  <a href="#clients" routerLink="/update">Update</a>
  <a href="#clients" routerLink="/delete">Delete</a>
  <!-- <div class="dropdown">
    <a href="javascript:void(0);" class="dropbtn">Update</a> -->
    <!-- <div class="dropdown-content">
      <a href="#Update" routerLink="/update">Update</a>
      <a href="#Delete" routerLink="/delete">Delete</a>
    </div> -->
  <!-- </div> -->
 
</div>


  <div class="text-center mt-10">
    <div class="text-wrapper">
      <h2>NEW STYLIST</h2>
      <h4><span class="inline-text">FASHION COLLECTION</span></h4>
    </div>
</div>
   
</body>
</html> 
